h2 {
  font-size: 70px;
  font-family: 'OptimaDisplay';
  letter-spacing: -.02em;
}

ol {
  display: block;
  list-style-type: decimal;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

a {
  color: #040a2b;
}

a:hover {
  color: #040a2b;
}

/* HIDE RADIO */

[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */

[type=radio] + img {
  cursor: pointer;
}

/* CHECKED STYLES */

[type=radio]:checked + img {
  outline: 5px solid #040a2b;
}

[type=radio]:hover + img {
  outline: 5px solid #040a2b;
}

.foundation-finder--quiz__header {
  text-transform: uppercase;
  font-size: 80%;
  color: #040a2b;
  margin-top: 10px;
  padding-top: 10px;
  background-color: #ececec;
  text-align: center;
}

.foundation-finder--quiz__results-header {
  text-transform: none;
  font-size: 40px;
  text-align: center;
}

.foundation-finder--quiz__nav-menu {
  display: flex;
  align-items: flex-start;
  list-style: none;
  background-color: #fff;
  margin-top: -10px;
  padding: 0 calc((100% - 1024px)/ 2);
}

.foundation-finder--quiz__nav-item {
  margin: 0 3px;
  padding: 5px;
  border-top: none;
  text-align: center;
  flex-grow: 1;
}

.foundation-finder--quiz__nav-value {
  font-weight: 600;
  left: 41%;
  top: 0;
  clear: left;
  max-width: 59%;
  overflow: hidden;
}

.foundation-finder--quiz__headline {
  text-align: center;
  font-size: 1.6rem;
  width: 70%;
  margin: 20px auto 30px auto;
  margin-bottom: 30px;
  text-transform: none;
}

.foundation-finder--quiz__carousel-wrapper {
  min-height: 450px;
  background-color: #ececec;
}

.foundation-finder--quiz__button {
  text-transform: uppercase;
  color: #fff;
  background: #040a2b;
  width: 25%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 15px;
  margin: 20px 0;
  cursor: pointer;
  border: 1px solid #fff;
}

@media (max-width: 767.98px) {
  .foundation-finder--quiz__button {
    width: 50%;
  }
}

.fundation-finder-results {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}


.fundation-finder-results--item {
  background-color: #fff;
  width: 750px;
  min-width: 350px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 10px;
  font-style: normal;
  font-weight: 500;
}

.foundation-finder--results__button {
  color: #fff;
  background: #040a2b;
  width: 25%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid #fff;
  text-decoration: none;
  padding: 10px;
}
.foundation-finder--results__button-noavalaible {
  background: #919191;
  color: #fff;
  width: 25%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid #fff;
  text-decoration: none;
  padding: 10px;
}
.foundation-finder--results__button-noavalaible:hover {
  color: #fff;
}
.foundation-finder--results__button:hover {
  color: #fff;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.block {
  height: 325px;
  width: 325px;
  float: left;
  margin: 10px;
}

.option {
  width: 325px;
  height: 325px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.option:hover {
  outline: 5px solid #040a2b;
}

.answer-box--headline {
  font-family: 'Akzidenz-Grotesk BQ';
  text-transform: uppercase;
  display: block;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 15px 25px 0;
  font-size: 15px;
  letter-spacing: 1.5px;
  z-index: 1;
}

.answer-box--text {
  display: block;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 3px 5px 15px;
  font-size: .9rem;
}

.row {
  padding: 0px !important;
  margin: 0px !important;
}